<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<script src="https://kit.fontawesome.com/fa76d837d2.js" crossorigin="anonymous"></script>
<body>
    <form action="/register" method="POST">
    <div class="Register-Form-Container">
    <h2>Habit Trakcer</h2>
    <div id="Logo">
     <img src="img/calendar.png" alt="Habit Tracker Logo" height="150" width="150"/>
    </div>
    <h3>Register</h3>
    <div id="Register">
        <img src="img/verify.png" alt="Register Icon" height="70" width="70"/>
    </div>
    
    <label for="Name"><b>Full Name</b></label>
    <input type="text" placeholder="Enter Full Name" name="fullname" required>

    <label for="Email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email Address" name="email" required>
    
    <label for="Password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
     
    <input type="submit"  class="button button3" value="Register">
    <!--<button class="button button3">Register</button> -->
    
  </div>
 </form>
</body>
</html>